
#stacks_in_4_page10 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 25px 0px 0px 0px;
}

#stacks_in_14_page10 {
	margin: 10px 0px 25px 0px;
}

#stacks_in_10_page10 {
	margin: 20px 0px 0px 0px;
}

#stacks_in_38_page10 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 25px 0px 25px 0px;
}

#stacks_in_12_page10 {
	margin: 35px 0px 15px 0px;
}

#stacks_in_16_page10 {
	margin: 20px 0px 10px 0px;
}

#stacks_in_20_page10 {
	margin: 20px 0px 10px 0px;
}

#stacks_in_22_page10 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_40_page10 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 25px 0px 25px 0px;
}

#stacks_in_24_page10 {
	margin: 35px 0px 15px 0px;
}

#stacks_in_42_page10 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 25px 0px 25px 0px;
}

#stacks_in_28_page10 {
	margin: 35px 0px 15px 0px;
}
