#stacks_in_125_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_125_page5>.s3_row>.s3_column_left {
	width: 48.50%;
}

#stacks_in_125_page5>.s3_row>.s3_column_right {
	width: 51.500000%;
}




#stacks_in_125_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_125_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_125_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_134_page5 {
	margin: 20px 0px 0px 0px;
}

#stacks_out_130_page5 {
	width: 70%;
}

#stacks_in_159_page5 {
	margin: 25px 0px 0px 0px;
}
#stacks_in_138_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_138_page5>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_138_page5>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_138_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_138_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_138_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_138_page5 {
	margin: 40px 0px 0px 0px;
}

#stacks_in_153_page5 {
	margin: 20px 0px 0px 0px;
}

#stacks_out_155_page5 {
	width: 70%;
}

#stacks_in_161_page5 {
	margin: 25px 0px 0px 0px;
}
#stacks_in_163_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_163_page5>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_163_page5>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_163_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_163_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_163_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_163_page5 {
	margin: 40px 0px 0px 0px;
}

#stacks_in_165_page5 {
	margin: 20px 0px 0px 0px;
}

#stacks_in_182_page5 {
	margin: 0px 62px 0px 50px;
}

#stacks_in_157_page5 {
	margin: 65px 0px 20px 0px;
}
